<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>404</title>
    <style>
      body { margin: 0; font-family: sans-serif; background-color: #f2f2f2;
      color: #d63d22; display: flex; place-items: center } .card{ width: 40%;
      padding: 1em; margin: 0 auto;white-space: nowrap; background: white;
      box-shadow: 0 0 10px -5px rgb(0 0 0 / 25%); text-align: center; display:
      flex; flex-direction: column;} i { font-size: 4rem; }
    </style>
  </head>
  <body>
    <div class='card'>
      <i>⭕</i>
      <h1>404 Recurso no encontrado</h1>
    </div>
  </body>
</html>